.banner {
    text-align: center;
    max-width: 998px;
    margin: 0 auto;
}

.Azeret-mono {
    font-family: "Azeret Mono";
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

.banner-titel{
    font-size: 48px;
    font-weight: 900;
    width: 998px;
    height: 136px;
}

.banner-description{
    font-size: 16px;
    max-width: 852px;
    margin: 32px;

}

.btn-primary {
    padding: 21px 24px 21px 24px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600px;
    background-color: #0D1321;
    border-radius: 8px;
}

header {
    background-image: url('../image/Hero-bg.png');
}
.web-develop{
    width: 1140px;
    height: 1393px;
    
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.02);
    margin: 0 auto;
}

.web-title {
    font-size: 32px;
    font-weight: 800px;
}

.web-description {
    font-size: 16px;
    font-weight: 400;
}

 .web {
    text-align: center;
    max-width: 998px;
    margin: 0 auto; }
.boss{
     text-align: center;
    max-width:  1140px;
    margin: 0 auto;
}
.boss-container{
    max-width: 852px;
    margin: 0 auto;
}
.boss-2{
    border-radius: 16px;
    padding: 32px;

}

.boss-title{
    font-size: 32px;
    font-weight: 800px;
}
.boss-description{
    /* font-size: 16px;
    font-weight: 400; 
     width: 852px;
    height: 52px;
    text-align: center; 
    margin: 0 auto; */
}

.btn-high {
    font-size: 20px;
    padding: 12px 2opx 12px 2opx;
    font-weight: 600;
}
.skills-develop{
    
    max-width: 852px;
    margin:65px auto;
}
.web-content{
    text-align: center;
}
.skills-one {
    display: flex;
    justify-content: space-between;
    width: 852px;
    height: 336px;
    border-radius: 16px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    
    margin: 30px auto;
    

}

.skill-one-man{
    max-width: 477px;
}

.skills-Two {
    display: flex;
    justify-content: space-between; 
    width: 852px;
    height: 336px;
    border-radius: 16px;
    background-color: #FFFFFF;
    margin: 30px auto;
    
}

.skill-Two-man {
    max-width: 477px;
}
.skill-Three-man{
    max-width: 477px;
}
.skills-Three{
    display: flex;
    justify-content: space-between;
    width: 852px;
    height: 336px;
    border-radius: 16px;
    background-color: #FFFFFF;
    margin: 30px auto;
}
.oppo{
    background-color: rgba(13, 19, 33, 0.02);
}
.dark-2{
    color: #0D1321 ;
    font-size: 16px;
    font-weight: bold;
    text-align:left;
    margin: 0 auto;
}
.kings-man{
    display: flex;
    justify-content: space-between;
     width: 1140px;
    height: 299px; 
    
}.king-man-1{
    width: 346px;
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
}
.king-man-2{
    width: 346px;
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 16px;

}
.king-man-3{
    width: 346px;
    background-color: rgba(255, 223, 0, 0.05);
    border-radius: 16px;

}

.MI-title{
font-size: 32px;
font-weight: 800 px;
text-align: center;
}
.MI-description{
    font-size: 16px;
    font-weight: 400; 
     width: 852px;
    height: 52px;
    text-align: center; 
    margin: 0 auto;
    padding-bottom: 48px;
}
.MI-content{
    text-align: center;
     max-width:946px;
     
     margin: 0 auto; 
     width: 1140px 484px;
    
}
 .kings-man{
    max-width: 1140px;
    margin: 0 auto; }


.must{
     background-image: linear-gradient(rgba(0 , 0, 0, 0.5), rgba(0 , 0, 0, 0.5)), url('../image/handshake.jpg'); 
     background-position: center;
     background-size: cover;
     width: 1140px;
     height: 313px; 
     text-align: center;
     margin: 0 auto;
     border-radius: 16px;
}
.must-title{
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
}
.must-description{
    width: 606px;
    height: 52px;
    color: rgba(255, 255, 255, 1.00) ;
    text-align: center;
    margin: 0 auto;
}
.low-1{
    
    font-size: 16px;
    font-weight: 400;
     padding: 19px 215px 19px 20px; 
    margin: 0 auto;
    color: rgba(13, 19, 33, 0.4);
    border-radius: 8px;
    border-color:#FFFFFF;
}
.btn-low-2{
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    border-color: #FFFFFF;

}
.tube{
    border-radius: 16px;
    margin: 0 auto;
    
}
.End{
    width: 390px;
    height: 24px;
    font-size: 15px;
    font-weight: 600;
}.End-time{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 100px;
    margin: 87px auto;
    background-color: rgba(13, 19, 33, 0.03);
    padding: 37px 105px 37px 105px;
}